
{% extends "ad/ad_new_base.html" %}

<%= basic %>
<%= house %>
<%= people %>
<%= google %>

<!-- {% from 'modules/_basic.html' import basic_CSS, basic_JS, common_JS %}
{% from 'modules/_house.html' import house_CSS, house_JS %}
{% from 'modules/_people.html' import people_CSS, people_JS %}
{% from 'modules/_google.html' import google_CSS, google_JS %} -->

{% macro CAMPAIGN(name='yellow_300x250') %}{{ name }}{% endmacro %}

{% block css %}
    <link id="ad_own_{{ CAMPAIGN() }}" rel="stylesheet" href="/static/ad/css/ad_own/ad_own_{{ CAMPAIGN() }}.css" type="text/css">

    {{ basic_CSS() }}
    {{ google_CSS() }}
    {{ house_CSS() }}
    {{ people_CSS() }}

{% endblock %}

{% block content %}
    <script type="text/javascript" src="/static/ad/js/highlight.js"></script>
    <script type="text/javascript" src="/static/ad/js/footer_scroll.js"></script>
    <script type="text/javascript" src="/static/ad/js/hover.js"></script>
    <script type="text/javascript" src="/static/ad/js/slideshow.js"></script>
    <script type="text/javascript">
    {% raw %} Tagtoo.pagefn = {{ {% endraw %} js_template('ad/layout/layout_own_{{ CAMPAIGN() }}.html') {% raw %} }}; {% endraw %}
    </script>
    {{ basic_JS() }}
    {{ google_JS('true') }}
    {{ house_JS() }}
    {{ people_JS() }}
    {{ common_JS() }}
{% endblock %}
